* text=auto !eol
main/.classpath -text svneol=unset#text/plain
main/.project -text svneol=unset#text/plain
main/.settings/org.eclipse.jdt.core.prefs -text svneol=unset#text/plain
main/.settings/org.eclipse.jdt.ui.prefs -text svneol=unset#text/plain
main/include/lib/commons-collections4-4.1.jar -text
main/include/lib/commons-lang3-3.1.jar -text
main/src/APACHE-LICENSE.txt -text svneol=unset#text/plain
main/src/GPL.html -text svneol=unset#text/plain
main/src/GPL.txt -text svneol=unset#text/plain
main/src/NOTICE.txt -text svneol=unset#text/plain
main/src/info/bioinfweb/phyde2/Main.java -text svneol=unset#text/plain
main/src/info/bioinfweb/phyde2/document/Document.java -text svneol=unset#text/plain
main/src/info/bioinfweb/phyde2/gui/MainFrame.java -text svneol=unset#text/plain
main/src/info/bioinfweb/phyde2/gui/actions/AbstractPhyDEAction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/phyde2/gui/actions/ActionManagement.java -text svneol=unset#text/plain
main/src/info/bioinfweb/phyde2/gui/actions/edit/AddSequenceAction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/phyde2/gui/actions/edit/DeleteSequenceAction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/phyde2/gui/actions/edit/RemoveGapsAction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/phyde2/gui/actions/file/AbstractFileAction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/phyde2/gui/actions/file/ExportAction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/phyde2/gui/actions/file/NewAction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/phyde2/gui/actions/file/OpenAction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/phyde2/gui/actions/file/SaveAction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/phyde2/gui/actions/file/SaveAsAction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/phyde2/gui/actions/help/AboutAction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/phyde2/gui/actions/help/BioinfWebMainPageAction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/phyde2/gui/actions/help/PhyDEMainPageAction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/phyde2/gui/actions/help/TwitterAction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/phyde2/gui/actions/help/WebsiteAction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/phyde2/gui/dialogs/AboutDialog.java -text svneol=unset#text/plain
main/src/resources/symbols/Delete16.png -text
main/src/resources/symbols/Delete22.png -text
main/src/resources/symbols/Help16.png -text
main/src/resources/symbols/Help22.png -text
main/src/resources/symbols/NewDocument16.png -text
main/src/resources/symbols/NewDocument22.png -text
main/src/resources/symbols/Open16.png -text
main/src/resources/symbols/Open22.png -text
main/src/resources/symbols/Replace16.png -text
main/src/resources/symbols/Replace22.png -text
main/src/resources/symbols/Save16.png -text
main/src/resources/symbols/Save22.png -text
main/src/resources/symbols/SaveAs16.png -text
main/src/resources/symbols/SaveAs22.png -text
main/src/resources/symbols/Twitter16.png -text
main/src/resources/symbols/Twitter22.png -text
main/src/resources/symbols/bioinfweb16.png -text
main/src/resources/symbols/bioinfweb22.png -text
