* text=auto !eol
/LICENSE.md -text
/README.md -text
main/.classpath -text svneol=unset#text/plain
main/.project -text svneol=unset#text/plain
main/.settings/org.eclipse.jdt.core.prefs -text svneol=unset#text/plain
main/.settings/org.eclipse.jdt.ui.prefs -text svneol=unset#text/plain
main/MANIFEST.MF -text svneol=unset#text/plain
main/include/lib/bioinfweb-commons-java-bio-3.0.0.jar -text
main/include/lib/bioinfweb-commons-java-core-3.2.0.jar -text
main/include/lib/bioinfweb-commons-java-swing-3.3.0.jar -text
main/include/lib/commons-beanutils-1.9.2.jar -text
main/include/lib/commons-collections4-4.1.jar -text
main/include/lib/commons-lang3-3.1.jar -text
main/include/lib/core-1.9.2.jar -text
main/include/lib/guava-20.0.jar -text
main/include/lib/jphyloio-core-0.5.2.jar -text
main/include/lib/libralign-core-0.9.0.jar -text
main/include/lib/libralign-io-0.6.0.jar -text
main/include/lib/libralign-swing-0.5.0.jar -text
main/include/lib/owlapi-XMLUtils-4.1.4.jar -text
main/include/lib/sequencing-1.9.2.jar -text
main/include/lib/tic-core-3.0.1.jar -text
main/include/lib/tic-swing-3.0.2.jar -text
main/src/APACHE-LICENSE.txt -text svneol=unset#text/plain
main/src/GPL.html -text svneol=unset#text/plain
main/src/GPL.txt -text svneol=unset#text/plain
main/src/NOTICE.txt -text svneol=unset#text/plain
main/src/info/bioinfweb/phyde2/Main.java -text svneol=unset#text/plain
main/src/info/bioinfweb/phyde2/document/DefaultPhyDE2AlignmentModel.java -text svneol=unset#text/plain
main/src/info/bioinfweb/phyde2/document/PhyDE2AlignmentModel.java -text svneol=unset#text/plain
main/src/info/bioinfweb/phyde2/document/SingleReadContigAlignmentModel.java -text svneol=unset#text/plain
main/src/info/bioinfweb/phyde2/document/io/IOConstants.java -text svneol=unset#text/plain
main/src/info/bioinfweb/phyde2/document/io/PhyDEAlignmentDataAdapter.java -text svneol=unset#text/plain
main/src/info/bioinfweb/phyde2/document/io/PhyDEAlignmentDataReader.java -text svneol=unset#text/plain
main/src/info/bioinfweb/phyde2/document/io/PhyDEDocumentDataAdapter.java -text svneol=unset#text/plain
main/src/info/bioinfweb/phyde2/document/undo/AlignmentEdit.java -text svneol=unset#text/plain
main/src/info/bioinfweb/phyde2/document/undo/AlignmentModelEdit.java -text svneol=unset#text/plain
main/src/info/bioinfweb/phyde2/document/undo/AlignmentModelEditFactory.java -text svneol=unset#text/plain
main/src/info/bioinfweb/phyde2/document/undo/edit/AbstractCharSetEdit.java -text svneol=unset#text/plain
main/src/info/bioinfweb/phyde2/document/undo/edit/AddCharSetEdit.java -text svneol=unset#text/plain
main/src/info/bioinfweb/phyde2/document/undo/edit/AddColumnsToCharSetEdit.java -text svneol=unset#text/plain
main/src/info/bioinfweb/phyde2/document/undo/edit/AddDeleteCharSetEdit.java -text svneol=unset#text/plain
main/src/info/bioinfweb/phyde2/document/undo/edit/AddRemoveCharSetColumns.java -text svneol=unset#text/plain
main/src/info/bioinfweb/phyde2/document/undo/edit/AddSequenceEdit.java -text svneol=unset#text/plain
main/src/info/bioinfweb/phyde2/document/undo/edit/ChangeCharSetColorEdit.java -text svneol=unset#text/plain
main/src/info/bioinfweb/phyde2/document/undo/edit/DeleteCharSetEdit.java -text svneol=unset#text/plain
main/src/info/bioinfweb/phyde2/document/undo/edit/RemoveColumnsFromCharSetEdit.java -text svneol=unset#text/plain
main/src/info/bioinfweb/phyde2/document/undo/edit/RenameCharSetEdit.java -text svneol=unset#text/plain
main/src/info/bioinfweb/phyde2/document/undo/edit/ReverseComplementEdit.java -text svneol=unset#text/plain
main/src/info/bioinfweb/phyde2/gui/MainFrame.java -text svneol=unset#text/plain
main/src/info/bioinfweb/phyde2/gui/ToolBarPanel.java -text svneol=unset#text/plain
main/src/info/bioinfweb/phyde2/gui/actions/AbstractPhyDEAction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/phyde2/gui/actions/ActionManagement.java -text svneol=unset#text/plain
main/src/info/bioinfweb/phyde2/gui/actions/edit/AddCharSetAction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/phyde2/gui/actions/edit/AddColumnsToCharSetAction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/phyde2/gui/actions/edit/AddSequenceAction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/phyde2/gui/actions/edit/ChangeCharSetColorAction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/phyde2/gui/actions/edit/DeleteCharSetAction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/phyde2/gui/actions/edit/DeleteSequenceAction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/phyde2/gui/actions/edit/RedoAction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/phyde2/gui/actions/edit/RedoToAction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/phyde2/gui/actions/edit/RemoveColumnsFromCharSetAction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/phyde2/gui/actions/edit/RemoveGapsAction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/phyde2/gui/actions/edit/RenameCharSetAction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/phyde2/gui/actions/edit/RenameSequenceAction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/phyde2/gui/actions/edit/ReverseComplementAction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/phyde2/gui/actions/edit/UndoAction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/phyde2/gui/actions/edit/UndoRedoToAction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/phyde2/gui/actions/edit/UndoToAction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/phyde2/gui/actions/file/AbstractFileAction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/phyde2/gui/actions/file/ExportAction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/phyde2/gui/actions/file/NewAction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/phyde2/gui/actions/file/OpenAction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/phyde2/gui/actions/file/SaveAction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/phyde2/gui/actions/file/SaveAsAction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/phyde2/gui/actions/help/AboutAction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/phyde2/gui/actions/help/BioinfWebMainPageAction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/phyde2/gui/actions/help/PhyDEMainPageAction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/phyde2/gui/actions/help/TwitterAction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/phyde2/gui/actions/help/WebsiteAction.java -text svneol=unset#text/plain
main/src/info/bioinfweb/phyde2/gui/dialogs/AboutDialog.java -text svneol=unset#text/plain
main/src/info/bioinfweb/phyde2/gui/dialogs/NewCharSetDialog.java -text svneol=unset#text/plain
main/src/resources/Splash.png -text
main/src/resources/symbols/Add16.png -text
main/src/resources/symbols/Add22.png -text
main/src/resources/symbols/AddBar16.png -text
main/src/resources/symbols/AddBar22.png -text
main/src/resources/symbols/AddCH16.png -text
main/src/resources/symbols/AddCH22.png -text
main/src/resources/symbols/Delete16.png -text
main/src/resources/symbols/Delete22.png -text
main/src/resources/symbols/DeleteBar16.png -text
main/src/resources/symbols/DeleteBar22.png -text
main/src/resources/symbols/DeleteCH16.png -text
main/src/resources/symbols/DeleteCH22.png -text
main/src/resources/symbols/Help16.png -text
main/src/resources/symbols/Help22.png -text
main/src/resources/symbols/NewDocument16.png -text
main/src/resources/symbols/NewDocument22.png -text
main/src/resources/symbols/Open16.png -text
main/src/resources/symbols/Open22.png -text
main/src/resources/symbols/PhyDE216.png -text
main/src/resources/symbols/PhyDE222.png -text
main/src/resources/symbols/Redo16.png -text
main/src/resources/symbols/Redo22.png -text
main/src/resources/symbols/Remove16.png -text
main/src/resources/symbols/Remove22.png -text
main/src/resources/symbols/Replace16.png -text
main/src/resources/symbols/Replace22.png -text
main/src/resources/symbols/Save16.png -text
main/src/resources/symbols/Save22.png -text
main/src/resources/symbols/SaveAs16.png -text
main/src/resources/symbols/SaveAs22.png -text
main/src/resources/symbols/Twitter16.png -text
main/src/resources/symbols/Twitter22.png -text
main/src/resources/symbols/Undo16.png -text
main/src/resources/symbols/Undo22.png -text
main/src/resources/symbols/bioinfweb16.png -text
main/src/resources/symbols/bioinfweb22.png -text
main/src/resources/symbols/phyde_2.png -text
